.resolution{
    width: 99%;
    text-align: center;
}
@media (max-width: 767px){
    .computadora{
        display: none;
    }
    .tablet{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 990px){
    .computadora{
        display: none;
    }
    .celular{
        display: none;
    }
}
@media (min-width: 991px){
    .tablet{
        display: none;
    }
    .celular{
        display: none;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
}
header {
    width: 100%;
    height: 80px;
    background-color: rgb(151, 180, 169);
}
.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.navegacion {
    float: right;
    display: flex;
    align-items: center;
    min-height: 70px;
    z-index: 1000;
}
.navegacion ul {
    list-style: none;
    padding: 0 10px;
}
.navegacion ul li {
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navegacion ul li :hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion ul li a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
    display: block;
}
.navegacion .submenu .hijos{
    display: none;
    background: rgb(151, 180, 169);
    position: absolute;
    width: 100%;
}
.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}
.navegacion .submenu .hijos li a{
    display: block;
}
.tabla1{
    background-color: rgb(151, 180, 169);
    width: 100%;
    height: 50px;
}
.tabla2{
    text-align: center;
    height: 35%;
    width: 75%;
}
.tabla3{
    font-size: 80px;
    width: 100%;
    height: 350px;
    background-image: url(imagen/catedra-de-oaxaca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tabla4{
    font-size: 50px;
    width: 100%;
    height: 350px;
    background-image: url(imagen/entrevista.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.tabla5{
    font-size: 60px;
    width: 100%;
    height: 350px;
    background-image: url(imagen/escritura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tabla6{
    font-size: 50px;
    width: 100%;
    height: 350px;
    background-image: url(imagen/horario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}